body {
    margin: 0 !important;
    padding: 0 !important;
}

header {
    background-color: #08487D;
    height: 200px;
    display: block;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    color: #f7f7f7;
}

@font-face {
    font-family: Espresso Roast Caps;
    src: url("fonts/EspressoRoast-Caps.woff2");
    font-family: Espresso Roast Script;
    src: url("fonts/EspressoRoast-Script.woff2");
}

h1 {
    font-family: 'Espresso Roast Caps', sans-serif;
    font-size: 70pt;
    color: #f7f7f7;
    margin-top: 0;
    line-height: 105%
   }

h2 {
    font-family: 'Espresso Roast Script', sans-serif;
    font-size: 76pt;
    color: #f7f7f7;
    margin-top: 0px;
    line-height: 20%;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 86pt; 
    display: inline-block;
    margin-left: 142px;
    color: #f7f7f7;
    margin-right: 120px;
    margin-bottom: -20px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 34pt; 
    color: #08487D;
    display: in-line block;
    margin-left: 142px;
    margin-right: 240px;
    margin-bottom: -20px;
}

#logo {
    vertical-align: top;
    margin: 0px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 60px;
    color: #f7f7f7;
    width: 25%;
   }

.headerNav {
    display: in-line block;
    width: 100%;
    padding-top: 0px;
}

.inlineBlock {
    list-style: none;
    color: #f7f7f7;
    text-align: right;
    margin-top: -80px;
}

li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    margin-right: 60px;
    margin-top: -50px;
    font-size: 18pt;
}

.heroImg {
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    text-align: left;
    background-color: #0072D0;
    display: block;
    width: 100%;
    }

#headShot {
    display: in-line block;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 0px;
    padding-bottom: 150px;
}   

.aboutMe {
    display: inline-block;
    height: 800px;
    padding-top: 60px;
    background-color: #025396;
}

#myName {
    display: in-line block;
    padding-left: 420px;
    padding-top: -100px;
    margin-top: -400px;
    margin-bottom: 0px;
}

p {
    font-family: 'Raleway', sans-serif; 
    font-size: 14pt; 
    line-height: 150%;
    margin-top: 40px;
    margin-left: 142px;
    margin-right: 142px;
    color: #f7f7f7;
  }
  
button {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    color: #f7f7f7;
    background-color: #0072D0; 
    height: 60px;
    width: 180px;
    border-color: #f7f7f7;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    float: right;
    margin-right: 140px;
    }


#footer {
    background-color: #08487D;
    height: 80px;
    width: 100%;
    color: #f7f7f7;
}

ul.footerNav {
    float: right;
    padding-top: 8px;
    text-align: right;
    width: 100%;
}

.footerLi {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    padding-top: 50px;
    margin-right: 60px;
    font-size: 18pt;
}

.icons {
    float: right;   
    margin-right: 80px;
    padding-top: -60px;
    padding-bottom: 20px;
    }



    /* <!-- My UX Skills section coded using CSS flex --> */

.mySkills {
    display: block;
    width: 100%;
    padding-top: 60px;
    margin-top: 800px;
    padding-bottom: 220px;
    background-color: #f7f7f7;
    width: 100%;
}

#specialties {
    color:#08487D;
    display: in-line block;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 142px;
}

.flexContainer {
    display: flex;
    height: 300px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-left: -160px;
    flex-wrap: wrap;
    }


#row {
    background-color: #f7f7f7;
    flex-direction: row;
    align-items: flex-start;
}

.skillsFlex {
    width: 30%;
    padding: 64px;
    margin-left: 100px;
    margin-right: -280px;
    justify-content: space-around;
    }

.skillsIcon {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-left: 300px;
    margin-right: -100px;
    margin-top: -40px;
}

.myWork {
    display: block;
    width: 100%;
}

.specialtyCategories {
    width: 400px;
    margin-top: 30px;
    align-items: flex-start;
}

.skillsDetail {
    font-family: 'Raleway', sans-serif; 
    font-size: 14pt; 
    line-height: 150%;
    margin-top: 30px;
    margin-left: 142px;
    margin-right: 142px;
    color: #575757;  
    width: 400px;
}

/* <!-- My Work Section Constructed using CSS Grid --> */
.workHeader {
    background-color: #08487D;
    color: #f7f7f7;
    height: 200px;
    width: 100%;
    margin-left: 0px;
    padding-left: 142px;
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1 fr;
    grid-template-rows: .25fr .25fr .25fr;
    grid-template-areas:
    "topRow topRow topRow"
    "leftSidebar leftSidebar rightContent"
    ;
}

.topRow {
    grid-area: topRow;
}

.leftSidebar {
    grid-area: leftSidebar;
    background-color: #575757;
    align-content: center;
}

.rightContent {
    grid-area: rightContent;
    background-color: #575757;
    align-content: center;
}

#petFriendly {
    color: #f7f7f7;
}

.workButton {
    align-content: center;
}

#diHeading {
    color: #f7f7f7;
}